*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    scroll-behavior: smooth;
  
  }
  :root{
    --primary:#Ff0000 ;
  
  
  }
  
  body{
    background-color: black;
    font-family: 'Roboto' , sans-serif;
  
  }
  body::-webkit-scrollbar{
    display: none;
  }
  .geners{
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    gap: 13px; 
    padding: 0 0 9px 0;
  }
  .posterImage{
    height: 600px;
   

}

.posterImage > img {
    margin: auto;
    display: block;
    width: 100%;
}

.posterImage__overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 1;
    transition: opacity .3s ;
}   

.posterImage__overlay:hover {
    opacity: 1;
}

.posterImage__title {
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 0.4rem;
    text-align: left;
}

.posterImage__runtime {
    font-size: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}

.posterImage__rating {
    margin-left: 3rem;
}

.posterImage__description {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
}
.list{
    left: 6px;
    top: 2px;
    position: relative;
    height: 2rem;
    font-size: 1rem;
    width: 6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    
    border: 1px solid white; 
    border-radius: 12px;
}
.list:hover{
    transform: scale(1.02);
    background-color: red;
    border: red; 
    

}
    