.nav li {
    list-style: none; 
    margin: 0 20px;


}
.link {
    color: white; 
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-bottom: 0px;
    transition: border-bottom 0.3s 
    ;
   
    

}
.link:hover , 
.link:active{
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
    
}

